*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#bg {
    background-color: bisque;
    width:100%;
    padding-top:10px;
    padding-bottom: 10px;
}



.headerr{
    width:100%; 
    background-color:rgb(237, 230, 243);
    
}

#title{
    color:black;
    background-color: blueviolet;
    width:30%;
    text-decoration: none;
}

#navv {
    
    font-size: large;
   padding-bottom: 10px;
    

}

.na{
    margin-left:10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

#footer{
    background-color:rgb(237, 230, 243);

    
}

#titleee{
    
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 15px;
}



